.content-wrapper a {
      color:#5a5a5a;
      font-size:24px;
      }

.navbar li {
      display: inline;
}

.bachsci li {
      display: inline;
}

.phd {
      padding-left:10px;
      padding-right:10px;
      padding-top:20px;
      padding-bottom:20px;
}

.Mdeu {
      padding-left:10px;
      padding-right:10px;
      padding-top:20px;
      padding-bottom:20px;
}

.mastsci {
      padding-left:10px;
      padding-right:10px;
      padding-top:20px;
      padding-bottom:20px;
}

.bachsci {
      padding-left:10px;
      padding-right:10px;
      padding-top:20px;
      padding-bottom:20px;
}

.text {
      padding-left:10px;
      padding-top:20px;
      padding-bottom:10px;
}

.left
{
  float: left;
}

.right
{
  float: right;
}
